*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    color: blueviolet;
}
/* buttons */
#button-play{
    padding: 5px 40px;
    font-size: 18px;
    border-radius: 10px;
}
/* header */
header, .logo-wrapper{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
}
/* main */
main{
    background-color: rgb(101, 249, 212);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* footer */
footer{
    padding: 20px 20px;
    font-size: 25px;
    letter-spacing: 2px;
}
footer i {
    font-size: 15px;
}

/* grid */
.container-grid{
    flex-basis: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    aspect-ratio: 1/1;
    background-color:rgba(17, 17, 17, 0.1);
    grid-template-columns: repeat(10,1fr);
}

.cell{
    aspect-ratio: 1/1;
    border: 2pxsolid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2rem;
}

.cell.clicked{
    background-color: rgb(101, 249, 212);
}